.cut-section {
  height: 650px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cut-mask {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 8px; /* opcional */
}

.cut-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(0);
  transition: transform 0.05s linear;
  object-position: bottom;
}

.flex-direction-column{
    flex-direction: column;
}

.cut-section-title{
  color: #BE0F14;
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cut-section-subtitle{  
  width: 75%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0 40px 15px 40px;
  text-align: center;
}

.cut-section-subtitle p{
  padding: 10px;
  color: #000000;
}

.cut-section-subtitle p:nth-child(1) {
  align-self: flex-start;
}

.cut-section-subtitle p:nth-child(2) {
  align-self: center;
}

.cut-section-subtitle p:nth-child(3) {
  align-self: flex-end;
}

@media (max-width: 767px){
  .cut-image{
    height: 130% !important;
  }
}

@media (max-width: 532px){
  .cut-image{
    height: 150% !important;
  }
  .cut-section-subtitle{
    padding: 5px;
  }
  .business-hours h1{
    font-size: 30px;
  }
  .business-hours h2{
    font-size: 20px;
  }
  .business-hours{
    padding: 20px !important;
  }
}